@import "../../Styles/variables";

.bkg-coming-soon {
  color: $primary-light;
  font-family: Graphik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 128px;
}

.bkg-p-auto {
  padding: 50px;
}

@media (max-width: 800px) {
  .bkg-p-auto {
    padding: 20px;

    .your-case-logo {
      left: 2px;
      top: 16px;
    }
  }
}

.bkg-inc {
  position: absolute;
  font-family: Graphik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  bottom: 20px;
  color: $primary-light;
}