@import "variables";
@import "home";
@import "footer";
@import "helpers";
@import "auth";
.relative-size {
  width: 100%;
  height: 100%;
}

.bordered {
  border: 1px solid #c2c2c2;
}

.member-terms-privacy {
  font-family: 'Graphik regular', serif;
  margin-bottom: 120px;
  margin-top: 150px;
  b, strong {
    font-weight: bold;
  }
  .relevant-info{
    background-color: #f6eee1;
    padding: 32px 16px;
    width: 95%;
  }
  h1 {
    margin-bottom: 150px;
  }
  p, li{
    color: #095d4d;
  }
}
.content-privacy {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px #c4c4c4;

  p, li {
    font-size: 14px;
  }

  background: $beige-custom;
}

.content-privacy-policy {
  nav {
    background: $primary-light !important;
    a, li{
      color: white !important;
    }
  }
}

.coming-soon{
  height: calc(100vh - 461px);
  padding-top: 10vh;
  h1 {
    font-family: 'Graphik semibold', serif;
  }
}

//--------------------------execute case-----

.footer-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  background: white;

  .float-matters {
    position: absolute;
    right: 5%;
    top: -18%;
    background: white;
    box-shadow: 1px 2px 3px gray;
    padding: 15px;
    border-radius: 40px;
    color: $primary-light;
  }

}

@media (max-width: 700px) {
  .footer-controls {
    .float-matters {
      top: -20%;
      padding: 5px;
    }
  }
}
