@import "variables";
@import "home";
@import "helpers";
@import "auth";
.relative-size {
  width: 100%;
  height: 100%;
}

.bordered {
  border: 1px solid #c2c2c2;
}

.content-privacy {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px #c4c4c4;

  p, li {
    font-size: 14px;
  }

  background: $beige-custom;
}

.content-privacy-policy {
  nav {
    background: $primary-light !important;
    a, li{
      color: white !important;
    }
  }
}

//--------------------------execute case-----

.footer-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  background: white;

  .float-matters {
    position: absolute;
    right: 5%;
    top: -18%;
    background: white;
    box-shadow: 1px 2px 3px gray;
    padding: 15px;
    border-radius: 40px;
    color: $primary-light;
  }

}

@media (max-width: 700px) {
  .footer-controls {
    .float-matters {
      top: -20%;
      padding: 5px;
    }
  }
}