footer {
    height: auto;
    background: $primary;
    color: $beige-custom;
    padding: 40px 0 100px;
    p {
      margin-bottom: 0;
      // &:hover {
      //   text-decoration: underline;
      //   text-decoration-color: $beige-custom;
      // }
    }
    a {
      color: inherit;
    }
    .yc-container {
      max-width: 1024px;
      position: relative;
    }
    .footer-row {
      position: relative;
    }
    .footer-links {
      a {
        display: inline-block;
        &:hover {
          p {
            text-decoration: underline;
            text-decoration-color: $beige-custom;
          }
        }
      }
    }
  
    .social-media-icons {
      position: relative;
      padding-top: 10px;
      padding-bottom: 60px;
      a {
        display: block;
        float: left;
        // padding: 16px;
        margin-right: 32px;
      }
    
    }
  
    .small-print {
      color: #62948C;
      a {
        color: inherit;
        &:hover {
          text-decoration: underline;
          text-decoration-color: #62948C;
        }
      }
    }
  }
  
  
  
  @media (min-width: 992px) {
    footer {
      padding-bottom: 70px;
      .footer-row {
        padding: 20px 0;
      }
      .social-media-icons {
        padding-bottom: 0;
        position: absolute;
        right: 0;
        float: right;
        top: 50%;
        transform: translateY(-50%);
        a {
          margin-left: 32px;
          margin-right: 0;
        }
      }
      .small-print {
        float: left;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        & > div {
          position: relative;
          float: left;
          margin-right: 32px;
        }
      }
    }
  
  }