@import 'variables';

//-----------------------------FRONT--------------------------------
.content-front {
  background: $beige-custom;
  height: 100%;
  width: 100%;

  .title {
    font-weight: bold;
  }

  .subtitle {
    color: $secondary;
  }

  .img-home {
    height: 130%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .content-img-home {
    height: 100vh;
  }

  @media (max-width: 600px) {
    .content-img-home {
      height: 50vh;
    }
  }

  .your-case-logo {
    position: absolute;
    width: 204.47px;
    height: 64px;
    left: 16px;
    top: 16px;
  }

}

//-----------------------------CASES--------------------------------

.content-cases {
  background: $secondary;
  height: auto;
  padding-bottom: 80px !important;
  position: relative;
  color: white;
  margin: auto;
  transition: width .4s;

  .item-route {
    background: $secondary-light;
    height: 96px;
    border-radius: 4px;
    transition: background .4s;

    h6 {
      transition: color .4s;
    }
  }

  .item-route:hover {
    background: #00805f;
    text-decoration: none;

    h6 {
      color: white;
    }
  }

}

.content-cases:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 20px;
  background: $secondary;
  transition: top .4s;
}

.content-cases-transition:after {
  content: "";
  top: -19px;
}

@media (max-width: 600px) {
  .content-cases {
    width: 100%;
  }
}


//-----------------------------STEPS--------------------------------
.content-steps {
  .font-num {
    font-size: 104px;
    font-weight: bold;
    color: $orange;
  }
}

.blue-background {
  background: $tertiary;
  height: 70vh;
  width: 60%;
  position: relative;
  margin: auto;
}

.img-steps {
  height: 90%;
  position: absolute;
  top: 5%;
  left: -12%;
  background: gray ;
}


@media (max-width: 900px) {
  .img-steps{
    top: -80%;
    left: 25%;
    height: auto;
    width: 50%;
  }

  .text-blue{
    width: 100% !important;
  }
  .blue-background {
    width: 100% !important;
    margin: 300px 0 0;
    padding: 200px 0 0;
  }

  @media (max-width: 600px) {
    .img-steps {
      top: -20%;
      left: 25%;
      height: auto;
      width: 50%;
    }
  }

}

//-----------------------------FOOTER--------------------------------

footer {
  height: auto;
  background: $secondary;
  color: white;
  padding-bottom: 50px;
}
