@import 'variables';

//-----------------------------FRONT--------------------------------
.content-front {
  background: $beige-custom;
  height: 100%;
  width: 100%;

  .title {
    font-weight: bold;
  }

  .subtitle {
    color: $primary;
  }


  .content-img-home {
    height: 100vh;

    .img-home {
      height: 130%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }


  @media (max-width: 600px) {
    .content-img-home {
      height: 50vh;
      .img-home{
        height: 100%;
      }
    }
    .your-case-logo {
      left: 16px;
      top: 16px;
    }
  }

}

.your-case-logo {
  position: absolute;
  left: 30px;
  top: 30px;
}

//-----------------------------CASES--------------------------------

.content-cases {
  background: $primary;
  height: auto;
  padding-bottom: 80px !important;
  position: relative;
  color: white;
  margin: auto;
  transition: width .4s;

  .item-route {
    background: $primary-light;
    height: 96px;
    border-radius: 4px;
    transition: background .4s;

    h6 {
      transition: color .4s;
    }
  }

  .item-route:hover {
    background: #00805f;
    text-decoration: none;

    h6 {
      color: white;
    }
  }

}

.content-cases:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 20px;
  z-index: 10;
  background: $primary;
  transition: top .4s, height .4s;
}

.content-cases-transition:after {
  content: "";
  height: 40px;
  top: -39px;
}

@media (max-width: 600px) {
  .content-cases {
    width: 100% !important;
  }
  .content-cases:after {
    content: "";
    height: 0;
    background: transparent;
    top: 0;
  }
  .container-fluid {
    padding: 0;
  }


}


//-----------------------------STEPS--------------------------------
.content-steps {
  .font-num {
    font-size: 104px;
    font-weight: bold;
    color: $orange;
  }
}

.blue-background {
  background: $tertiary;
  height: 80vh;
  width: 50%;
  position: relative;
  margin: auto;
}

.img-steps {
  height: 80%;
  position: absolute;
  top: 10%;
  right: 0;
  background: transparent;

  img {
    height: 100%;
  }
}


@media (max-width: 991px) {
  .img-steps {
    width: 100%;
    top: -80%;
    text-align: center;
    height: 200%;
  }
  .blue-background {
    margin-top: 50%;
    width: 100%;
    height: 60vh;
  }
}

//-----------------------------FOOTER--------------------------------

footer {
  height: auto;
  background: $primary;
  color: white;
  padding-bottom: 50px;
}




