$primary: #0D3F37;
$primary-light: #095D4D;
$tertiary: #002D44;
$beige-custom: #F6EEE1;
$yellow: rgba(236, 228, 147, 0.76);
$white-opacity: rgba(247, 247, 247, 0.33);
$orange: #ff9966;
$green-light: #8aa990;

.btn-info, .btn-primary {
  background: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background: $primary-light;
  border-color: $primary-light;
}

@import "bootstrap";

/* ------- customize primary buttons -------- */

.text-primary {
  color: $primary !important;
}

.text-primary-light {
  color: $primary-light !important;
}

.bg-primary {
  background: $primary !important;
}


.bg-beige-custom {
  background: $beige-custom;
}

.gray-light {
  color: #a5a5a5;
}

.color-primary {
  color: $primary;
}

.color-primary-light {
  color: $primary-light;
}

a {
  .color-primary:hover {
    color: $primary-light !important;
  }
}

