$primary: #ffffff;
$secondary: #0D3F37;
$tertiary: #002D44;
$beige-custom: #F6EEE1;
$yellow: rgba(236, 228, 147, 0.76);
$white-opacity: rgba(247, 247, 247, 0.33);
$secondary-light: #095D4D;
$orange: #ff9966;
$green-light: #8aa990;


.btn-info{
  background: $secondary;
}