$primary: #0D3F37;
$primary-light: #095D4D;
$tertiary: #002D44;
$beige-custom: #F6EEE1;
$yellow: rgba(236, 228, 147, 0.76);
$white-opacity: rgba(247, 247, 247, 0.33);
$orange: #ff9966;
$green-light: #8aa990;

.btn-info {
  background: $primary;
}

.bg-primary {
  background: $primary !important;
}

.bg-beige-custom{
  background: $beige-custom;
}

.gray-light {
  color: #a5a5a5;
}

.color-primary {
  color: $primary;
}

.color-primary-light{
  color: $primary-light;
}

a {
  .color-primary:hover {
    color: $primary-light !important;
  }
}

