@import "../../Styles/variables";

$bg-form-button: #F6EEE1;
$border-form-button: rgba(0, 0, 0, 0.12);

$body-font-global: 'Graphik', sans-serif;
$header-font-normal: $body-font-global;
$header-font-medium: 'Graphik medium', sans-serif;

// everything inside the .hm-view-main-wrapper div is upstream markup from the execution-flow component
.hm-view-main-wrapper {
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 80px;

  @media (min-width: 480px) and (min-height: 600px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }



  .hm-view-header {
    text-align: left;
    color: $primary;
    line-height: 1.3;
    font-family: $header-font-medium;
    margin-bottom: 0.5em;

    &-1 {
      @extend .hm-view-header;
      font-family: $header-font-normal;
      font-size: 20px;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 8px;
    }

    &-2 {
      @extend .hm-view-header;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      opacity: 0.8;
      color: #0D3F37;
    }

    &-3 {
      @extend .hm-view-header;
      font-weight: 500;
      font-size: 20px;
    }

    &-custom-1 {
      @extend .hm-view-header;
      font-size: 20px;
      font-family: $header-font-normal;
    }
  }

  @media (min-width: 480px) {
    .hm-view-header {
      margin-top: 0px;
      margin-bottom: 8px;
      &-1 {
        font-size: 32px;
      }
      &-2 {
        font-size: 16px;
      }
      &-3 {
        font-size: 24px;
      }
      &-custom-1 {
        font-size: 24px;
      }
    }
  }


  .hm-button-close {
    top: 20px !important;
    cursor: pointer;
    z-index: 1;
  }



  .hm-view-p-1 {
    font-size: 14px;
    text-align: center;
    color: #8A9499;
    @media (min-width: 480px) {
      font-size: 16px;
    }
  }

  .hm-view-p-2 {
    font-size: 14px;
    color: #454A4D;
    color: #8A9499;
    text-align: center;
    margin-bottom: 1.2rem;

    @media (min-width: 480px) {
      font-size: 16px;
    }
  }

  .why_this_matters {
    color: $orange;
    cursor: pointer;
    font-size: 16px;
  }

  .form-group {
    label {
      margin-bottom: 0px;
    }

    .custom-check,
    .custom-checked {
      position: absolute;
      display: block;
      right: auto;
      left: auto;
      top: auto;
      bottom: auto;
      background: $orange;
      border-radius: 100%;
      height: 24px;
      width: 24px;
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .custom-check {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    .custom-checked {
      opacity: 1;

      path {
        fill: #fff;
      }
    }
  
    button.invisible {
      display: none;
    }

    &.container-grid {
      background: white;
      position: relative;
      width: 100%;

      .content-cases-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
      }

      .item-route {
        background-color: $beige-custom;
        border-radius: 4px;
        transition: background-color 0.6s ease, box-shadow 0.6s ease;
        position: relative;
        padding-bottom: 100%;
    
        &:hover {
          background-color: #FFF7E9;
          box-shadow: 0 4px 18px rgba(0,0,0,0.35);
        }
      
        h6 {
          position: absolute;
          transition: color 0.4s;
          transform: translateY((-50%));
          top: 80%;
          text-align: center;
          left: 20px;
          right: 20px;

          @media (min-width: 320px) {
            left: 10px;
            right: 10px;
          }
        }
    
        .item-route-icon {
          position: absolute;
          height: 0;
          transform: translate((-50%, -50%));
          left: 50%;
          top: 40%;
    
          overflow: visible;
    
          width: 45%;
          height: 45%;
        } 
      
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate((-50%, -50%));
          object-fit: cover;
        }
      }

      @media (min-width: 375px) {
        .mobile-image-size {
          width: 64px;
        }

        .content-cases-grid {
          -ms-grid-template-columns: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 16px;
        }
      }

      @media (min-width: 568px) {
        .mobile-image-size {
          width: 48px;
        }

        .content-cases-grid {
          -ms-grid-template-columns: repeat(3, 1fr);
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 24px;
        }
      }
      
      @media (min-width: 768px) {
        .mobile-image-size {
          width: 65px;
        }

        .content-cases-grid {
          -ms-grid-template-columns: repeat(3, 1fr);
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 24px;
        }
      }

      @media (min-width: 1024px) {
        .mobile-image-size {
          width: 70px;
        }

        .content-cases-grid {
          -ms-grid-template-columns: repeat(3, 1fr);
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 24px;
        }
      }
    }

    &.container-radio {
      background: white;
      position: relative;
      width: 100%;

      .content-radio-grid {
        @media (min-width: 568px) {
          display: -ms-grid;
          display: grid;
          -ms-grid-template-columns: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 24px;
        }
      }

      .form-control {
        @media (min-width: 568px) {
          margin-bottom: 0px;
        }
      }

      input[type=radio] {
        display: none;
      }

      .custom-checked {
        display: none;
      }


    }

    &.container-checkbox {
      input[type=checkbox] {
        display: none;
      } 

      .custom-checked {
        background: $orange;
      }

      .checkbox-active {
        box-shadow: inset 0 0 0 2px $primary;

        // .hm-custom-check {
        //   opacity: 1;
        // }
      }
    }

    &.hm-field-date {
      margin-top: 2em;
      margin-bottom: 2em;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 120px;
        z-index: 1;
        pointer-events: none;
      }


      &:before {
        top: 0;
        background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
      }

      &:after {
        bottom: 0;
        background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
      }

      .hm-field-label {
        display: none;
      }
      .css-DateInput-input {
        flex: none;
        max-width: none;
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
        .date-input-item {
          border: none;
          b {
            color: #0D3F37;
          }
        }
        .hm-view-date-selector-active {        
          border-top: 1px solid rgba(138, 148, 153, 0.5);
          border-bottom: 1px solid rgba(138, 148, 153, 0.5);
          background: transparent;
          b {
            color: #0D3F37;
          }
        }
      }
      

    }

    .borderless {
      border: none;
    }

    .hm-field-list-label {
      font-size: 16px;
      line-height: 40px;
      color: #0D3F37;
      height: 40px;
      padding: 0px;
      cursor: pointer;
    }

    .hm-search-bar {
      border: solid;
      border-width: 1px;
      border-color: #cfdde6;
      border-radius: 4px;
      box-sizing: border-box;
      align-items: center;
      margin-bottom: 16px;
      height: 48px;
      display: flex;
    }

    .hm-search-icon {
      margin-left: 18px;
      margin-right: 18px;
    }

    .hm-text-field {
      border: none;
      font-size: 14px;
      line-height: 24px;

      &:focus {
        outline-width: 0;
      }
    }

    .hm-field-label {
      font-size: 13px;
    }

    @media (min-width: 480px) {
      .hm-field-label {
        font-size: 16px;
      }
    }


    .form-control {
      border: 1px solid $border-form-button;
      background: $bg-form-button;
      color: $primary;
      cursor: pointer;

      padding: 10px;
      height: auto;
      margin-bottom: 16px;

      // single-line radio button form
      &.hm-label-radio-button-single {
        line-height: 28px;
        font-size: 14px;
        font-weight: 500;
        color: #0D3F37;
        text-align: center;

        font-family: $header-font-medium;

        &:active {
          background-color: $primary-light;
          color: #fff;
        }

        @media (min-width: 768px) {
          font-size: 16px;
        }
      }


      // multiline checkbox form
      &.hm-label-radio-button-multiple {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        text-align: left;
        padding: 16px;
        padding-right: 40px;
        

        .hm-custom-check {
          right: 10px;
          top: 10px;
        }

        @media (min-width: 480px) {
          font-size: 16px;
          padding: 22px;
          padding-right: 60px;
          .hm-custom-check {
            right: 16px;
            top: 16px;
          }
        }
      }
    }

    &.hm-field-small-text {
      .hm-field-label {
        margin-bottom: 0px;
      }

      @media (min-width: 480px) {
        .hm-field-label {
          margin-bottom: 5px;
        }

      }
    }
  }



  .hm-view-footer {
    height: 70px;
    position: absolute;
    align-self: flex-end;
    position: fixed;

    // prevemts the .hm-view-footer-info-drawer from being overdrawn by a shadow
    & > div:first-child {
      box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.05);
    }

    .hm-view-footer-controls {
      height: 70px;
      
      z-index: 1;
      position: relative;
      padding-right: 20px;
      padding-left: 20px;

      .btn {
        padding: 10px 50px;
        font-family: $header-font-medium;
      }
      .hm-view-button-back {
        background-color: transparent;
        box-shadow: none;
        border: none;
        color: #8A9499;
      }
  
      .hm-view-button-next {
        background-color: #ED5454;
      }
    }
  
    .hm-view-footer-info-drawer {
      z-index: 2;
      position: absolute;
      bottom: 100%;
      background-color: #fff;
      padding-left: 20px;
      padding-right: 20px;

      height: 88px;
      transition: height 0.3s ease-in-out;
      
      .info-drawer-content {
        // the text header section
        & > div:first-child {
          padding-top: 50px;
        }
        h5 {
          font-family: $header-font-medium;
          font-size: 24px;
        }
        p {
          color: #454A4D;
          line-height: 1.5;
        }
        .info-drawer-content-item {
          .btn {
            margin-bottom: 16px;
            padding: 5px 16px;
            font-size: 16px;
            font-family: $header-font-medium;
            background-color: $primary-light;
          }          
        }
      }
    }


    &.hm-show-description {
      .hm-view-footer-info-drawer {
        padding-top: 40px;
        // height: auto;
        // max-height: 9999px;
        height: 300px;

        @media (min-height: 640px) {
          height: 380px;
        }
      }

      // turn the 'get more information' button into an X button
      button#description_popover {
        z-index: 1;
        padding: 0;
        position: absolute;
        height: 32px;
        width: 32px;
        background-image: url('../../Assets/icons/icn_close.svg');
        // TODO: gotta be a safer way to position this
        top: 24px;
        left: 16px;

        @media (min-width: 480px) {
          left: 40px;
        }
      }
    }



    #description_popover {
      padding: 0;
      height: 100%;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    .more_info {
      color: $primary-light !important;
      b {
        text-decoration: none;
        color: $primary-light !important;
        font-weight: normal;
        font-size: 14px;
        font-family: $body-font-global;
      }
      &:after {
        display: none;
      }
    }

    @media (min-width: 480px) {
      height: 88px;
      .hm-view-footer-controls {
        height: 88px;
        padding-right: 32px;
        padding-left: 32px;
        .btn {
          padding: 18px 78px;
        }
      }
      .hm-view-footer-info-drawer {
        // height: 88px;
        min-height: 88px;
        padding-left: 40px;
        padding-right: 40px;
      }
      .more_info {
        b {
          font-size: 16px;
        }
      }
    }
  }

  // "can't find what you're looking for?"
  .hm-view-footer-1 {
    text-align: center;
  }

  .hm-view-footer-1,
  .hm-view-terms {
    color: $primary-light;
    font-size: 14px;

    a {
      color: $orange;
      b {
        margin-left: 5px;
      }
    }

    @media (min-width: 480px) {
      font-size: 16px;
    }
  }


}

.modal-backdrop {
  background-color: #0d3f37;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 8px !important; 
  max-width: 424px;

  h5 {
    font-size: 20px;
    line-height: 1.333;
  }
  p {
    line-height: 1.5;
    color: #444a4c;
  }
}










#yourcase-hm-view {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  font-family: $body-font-global;

  .yourcase-hm-view-inner-wrapper {
    padding: 0 20px;

    @media (min-width: 375px) {
    }

    @media (min-width: 568px) {
      padding: 0 80px;
    }

    @media (min-width: 768px) {
      padding: 0 120px;
    }

    @media (min-width: 1024px) {
      padding: 0 150px; // TODO: fix
    }
  }




  // FIXME: shouldn't have to hack around this column markup
  .form-group {
    .form-control {
      .row {
        position: relative;
      }

      // the container for the text content
      .col-10 {
        flex: none;
        max-width: none;
        text-align: center;
        display: block !important;
        position: relative;
      }

      // the container for the checkmark
      // TODO: either get rid of this container or add a class to it
      .col-2 {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 0;
        display: block;
        width: 24px;
        height: 24px;
        flex: none;
        max-width: none;
        padding: 0;
      }
    }
  }
}

.hm-sidebar {
  width: 0px;
  padding-top: 294px;
  overflow: hidden;
  background-color: #0D3F37;

  @media (min-width: 1024px) {
    width: 220px;
  }
}

.hm-flow {
  width: 100%;

  @media (min-width: 1024px) {
    width: calc(100% - 220px);
  }
}

.hm-bar {
  width: 2px;
  height: 35px;
  background-color: #62948c;

  &selected {
    background-color: white;
  }
}

.hm-bar-selected {
  background-color: white;
}

.hm-bar-text {
  color: #62948c;
  margin-left: 24px;
  width: 120px;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
}

.hm-bar-text-selected {
  color: white;
}


// the production flow has some brand new classes
// they should be converted to the classes that have already been established
// until then, they'll be isolated here
.hm-view-form {
  .title {
    color: $primary;
    line-height: 1.333;
    font-family: $header-font-medium;
    font-size: 21px;
    margin-bottom: 0.5em;

    @media (min-width: 480px) {
      font-size: 24px;
    }
  }

  .container-radio {
    label {
      &[for="radioSpeak now"] {
        color: #fff;
        background-color: #ED5454;
      }

      &[for="radioSchedule call for later"] {
        background-color: #fff;
        box-shadow: inset 0 0 0 1px #8A9499;
      }
    }
  }

}



// hide the controls footer for the first step of the flow
#hero_flowdmv_incidenttypehero_footer {
  display: none;
}


// FIXME: these styles depend on this one specific id
// which is derived from a specific step name in a specific flow
// if these styles are going to be reused, there NEEDS to be a class on the .form-group
#hero_flowdmv_scheduledate {
  .form-group {
    & > div {
      padding-left: 0;
      padding-right: 0;

      // FIXME: needs .hm-form-label class
      & > label {
        font-size: 13px;
        margin-bottom: 0.5em;
        @media (min-width: 480px) {
          font-size: 16px;
        }
      }

      // manually override .col-md-10 class
      @media (min-width: 768px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      // manually override .hm-mt-5 class
      @media (max-width: 479px) {
        margin-bottom: 1.5em;
        &.hm-mt-5 {
          margin-top: 0;
        }        
      }

      // the first two rows of buttons (date and time of day)
      // FIXME: need someone to create a class for this, these selectors are untenable
      &:nth-child(1),
      &:nth-child(2) {
        & > div {
          display: -ms-grid;
          display: grid;
          -ms-grid-template-columns: repeat(3, 1fr);
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 10px;
  
          @media (min-width: 480px) {
            grid-column-gap: 20px;
          }

          & > label {          
            margin-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .btn {
          padding: 0.75em 1em;
          font-size: 14px;
          @media (min-width: 480px) {
            font-size: 16px;
            padding: 1em;
          }
        }
      }

      .hm-content-item-time-frame {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        
        .btn {
          // position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      // 'pick a timeframe'
      &:nth-child(3) {
        margin-bottom: 0;
        & > div {
          position: relative;
          .hm-content-item-time-frame {

            // the left chevron
            &:nth-child(1) {
              left: 0;
              margin-left: -24px;
            }

            // the right chevron
            &:nth-child(3) {
              right: 0;
              margin-right: -24px;
            }

            @media (min-width: 480px) {
              // the left chevron
              &:nth-child(1) {
                margin-left: -44px;
              }

              // the right chevron
              &:nth-child(3) {
                margin-right: -44px;
              }
            }
          }
        }

        .css-carousel-times {
          z-index: 1;
          width: auto;
          margin-left: 20px;
          margin-right: 20px;
          .btn-sm {
            padding: 0.5em 1em;
            font-size: 13px;
            @media (min-width: 480px) {
              font-size: 16px;
            }
          }
        }
        @media (min-width: 480px) {
          .css-carousel-times {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }

    .btn {
      font-family: $header-font-medium;
      
      &:active {
        background-color: $primary-light;
      }

    }
    .btn-light {
      background-color: #F6EEE1;
    }
  }

  .hm-label-radio-button-single  {
    color: #fff;
    background-color: #ED5454;
  }
}