@import "../../Styles/variables";
// this class add styles to library execution-flow l
$bg-form: #F6EEE1;
h1, h2, h3, h5, h6, label {
  color: $primary-light;
}

.why_this_matters {
  color: $orange;
  cursor: pointer;
}

h4 {
  color: $orange;
}

.form-group {
  .form-control {
    border: none;
    background: $bg-form;
    color: $primary-light;
  }
}

.container-checkbox {
  input[type=checkbox] {
    display: none;
  }

  .checkbox-active {
    border: 2px solid green;
  }

  .custom-check {
    background: $bg-form;
    color: $bg-form !important;
  }

  .custom-checked {
    background: $orange;
  }
}

.container-radio {
  input[type=radio] {
    display: none;
  }

  .radio-active {
    border: 2px solid green;
  }

  .custom-check {
    background: $bg-form;
    color: $bg-form !important;
  }

  .custom-checked {
    background: $orange;
  }

}

.more_info {
  color: green;
  font-size: 12px;

}

.more_info:after {
  content: "";
  position: absolute;
  width: 50px;
  margin-left: 50%;
  height: 4px;
  border-radius: 30px;
  background: #d5d5d5;
  left: -25px;
  top: 7px;
}

.css-yk16xz-control {
  border-color: $bg-form !important;

  .css-1hwfws3 {
    background: $bg-form;

    .css-1rhbuit-multiValue {
      * {
        color: $primary-light !important;
      }
    }
  }

  .css-1hb7zxy-IndicatorsContainer {
    background: $bg-form;
  }
}

.custom-DateInput_input {
  .DateRangePickerInput {
    background: $bg-form !important;
    border: none !important;
  }

  .DateInput_input {
    height: calc(1.5em + .75rem + 2px);
    background: $bg-form !important;
    color: $primary-light !important;
  }
}
