@import "../../Styles/variables";
// this class add styles to library execution-flow l
$bg-form: #F6EEE1;
h1, h2, h3, h5, h6, label {
  color: $primary-light;
}

.why_this_matters {
  color: $orange;
  cursor: pointer;
}

h4 {
  color: $orange;
}

.form-group {
  .form-control {
    border: none;
    background: $bg-form;
    color: $primary-light;
  }
}

.rbd {
  color: $primary-light;
}

.container-checkbox {
  input[type=checkbox] {
    display: none;
  }

  .checkbox-active {
    border: 2px solid green;
  }

  .custom-check {
    background: $bg-form;
    color: $bg-form !important;
  }

  .custom-checked {
    background: $orange;
  }
}

.container-radio {
  input[type=radio] {
    display: none;
  }

  .radio-active {
    border: 2px solid green;
  }

  .custom-check {
    background: $bg-form;
    color: $bg-form !important;
  }

  .custom-checked {
    background: $orange;
  }

}

.more_info {
  color: green;
  font-size: 12px;
}

.more_info:after {
  content: "";
  position: absolute;
  width: 50px;
  margin-left: 50%;
  height: 4px;
  border-radius: 30px;
  background: #d5d5d5;
  left: -25px;
  top: 7px;
}

.css-yk16xz-control {
  border-color: $bg-form !important;

  .css-1hwfws3 {
    background: $bg-form;

    .css-1rhbuit-multiValue {
      * {
        color: $primary-light !important;
      }
    }
  }

  .css-1hb7zxy-IndicatorsContainer {
    background: $bg-form;
  }
}

.custom-DateInput_input {
  .DateRangePickerInput {
    background: $bg-form !important;
    border: none !important;
  }

  .DateInput_input {
    height: calc(1.5em + .75rem + 2px);
    background: $bg-form !important;
    color: $primary-light !important;
  }
}

.custom-button {
  background: $bg-form
}

.lb {
  .title {
    font-size: 30px;
    font-weight: bold;
    color: $primary-light;
  }

  .subtitle {
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }
}

.default-link {

}

.default-label {
  width: 100%;
  color: $primary-light;
  font-weight: bolder;
  font-size: 30px;
}

.hm {
  &-hm-view {
    &-button-custom-3 {
      //background: $bg-form; already used by btn-light
      &-active {
        //background: $primary; already used by btn-primary
      }
    }
  }

  &-button-custom-2 {
    //background: $bg-form; already used by btn-light

    &-active {
      //background: $primary; already used by btn-primary
    }
  }
}

.hm-view {
  &-header {
    text-align: center;
    color: $primary;
    &-1 {
      @extend .hm-view-header;
      font-weight: normal;
      font-size: 32px;
    }

    &-2 {
      @extend .hm-view-header;
      font-weight: bold;
      font-size: 28px;
    }

    &-3 {
      @extend .hm-view-header;
      font-weight: bold;
      font-size: 24px;
    }
  }

  &-footer-1, &-terms {
    color: $primary-light;
    font-size: 14px;

    a {
      color: $orange;
    }
  }

  &-p_1, .hm-view-p_2 {
    font-size: 14px;
    text-align: center;
    color: gray;
    font-weight: lighter;
  }

  &-header-custom-1 {

  }

}

//.btn-field-button {
//  background: $beige-custom;
//  color: $primary;
//  &:hover {
//    background: lighten($beige-custom,2%);
//  }
//
//  &:active {
//    background: darken($beige-custom,2%);
//  }
//}



